.filters {
    @include set-flex(row-reverse, space-between, center);
}

.filter-by-state {
    width: calc(54em/7);
    position: relative;

    &__button-wrapper {
        width: 100%;
        height: 100%;
    }
    
    &__button {
        width: 100%;
        height: 100%;
        padding: calc(1em/7) calc(2em/7);
        @include decorate-block();
        @include set-flex(row, space-between, center);
        font-size: inherit;
    }

    &__button--clicked {
        background-color: #cce6ff;
        border-color: #cce6ff;
    }

    &__text {
        padding: 1px 0;
        font-family: $content-font;
        font-style: italic;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
        user-select: none;
    }

    &__pic {
        font-size: inherit;
        width: 0.5em;
        height: 0.5em;
        position: relative;
        top: calc(1em/14);
    }
    
    &__menu {
        width: 2.5em;
        background-color: #ffffff;
        box-shadow: -1px 1px 2px 0px rgba(121, 121, 121, 0.51);
        position: absolute;
        top: calc(41em/28);
        right: calc(1em/14);
        z-index: 1;
        max-height: 10em;
        overflow-y: scroll;
        
    }

    &__menu::-webkit-scrollbar {
        width: 4px;
    }

    &__menu::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
        border-radius: 15px;
    }
    
    &__menu-element {
        padding: calc(3em/7) calc(5em/14);
        padding-right: 1em;
        font-family: $content-font;
        font-style: italic;
        font-size: calc(5em/7);
        text-align: right;
        cursor: pointer;
    }

    &__menu-element:hover {
        background-color: #cccccc;
    }
}

.filter-by-name {
    width: calc(64em/7);
    box-shadow: -1px 1px 2px 0px rgba(121, 121, 121, 0.51);

    &__input {
        font-size: inherit;
        display: block;
        width: 100%;
        height: 100%;
        padding: calc(9em/28) calc(3em/7) 0.25em calc(3em/7);
        font-family: $content-font;
    }
}

.none {
    display: none;
}